<div class="row">

  <div class="col-md-12">

    <div class="ebox ebox-post">

      <div *ngFor="let post of posts">

        <h2 class="post-title">{{post.attributes?.title}}</h2>

        <div class="post-details">

          <p class="post-author">{{post.attributes?.author}}</p>

          <p class="post-date">{{post.attributes?.date | date: 'longDate'}}</p>

        </div>

        <div class="post-content" appCodeHighlighter [innerHTML]="post?.html" *ngIf="post.show"></div>


        <div class="post-content" *ngIf="!post.show">

          <p>{{post?.body | slice:0:493}}&#8230;</p>

        </div>

        <a uxFocusIndicator (keydown.enter)="post.show = !post.show" tabindex="0" (click)="post.show = !post.show">{{ post.show ? 'Show less' : 'Show more' }}</a>

        <hr>

      </div>

      <p *ngIf="posts.length === 0">There are currently no blog posts.</p>

    </div>

  </div>

</div>
